<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="endpointUrlBoardGame" value="http://localhost:8000/api/boardgame"/>
		<add key="endpointUrlEmployee" value="http://localhost:8000/api/employee"/>
		<add key="endpointUrlAppointment" value="http://localhost:8000/api/appointment"/>
		<add key="endpointUrlGuest" value="http://localhost:8000/api/guest"/>
		<add key="endpointUrlLogIn" value="http://localhost:8000/api/employeelogin"/>
		<add key="endpointUrlLogOut" value="http://localhost:8000/api/employeelogin"/>
		<add key="endPointUrlAuthData" value="http://localhost:8000/api/employeeauthdata"/>
	</appSettings>
</configuration>